//div
.bg {
  background-color: var(--background-body);
  color: var(--text-color);
  min-width: 100%;
  min-height: 100%;

  .content {
    border-radius: 4px;
    background-color: var(--background);
    min-height: 300px;
    padding: 0.5rem;

    //div
    .d-flex {
      select {
        max-width: 180px;
        background-color: var(--background);
        border-color: var(--table-border);
        color: var(--text-color);

        &:disabled {
          color: var(--table-border) !important;
        }
      }

      //div
      .input-group {
        max-width: 180px;

        input {
          background-color: var(--background);
          border-color: var(--table-border);
          color: var(--text-color);

          &:focus {
            border-color: var(--blue);
          }

          &::placeholder {
            color: var(--table-border);
          }
        }
      }
    }

    .table {
      border: 1px solid var(--table-border);

      tbody tr td {
        color: var(--text-color) !important;
      }
    }
  }
}

th {
  font-weight: bold !important;
  color: var(--text-color) !important;
}
