.modal-new-package div div {
  background-color: var(--background-inverse);

  .modal-header {
    border-bottom: 1px solid var(--table-border);
    color: var(--text-color);
  }

  .modal-body .input-group {
    span {
      background-color: var(--background-body-inverse);
      color: var(--text-color);
      border-color: var(--table-border);
    }

    input {
      background-color: var(--background-body-inverse) !important;
      border-color: var(--table-border);
      color: var(--text-color) !important;

      &:focus {
        border-color: var(--blue);
      }

      &::placeholder {
        color: var(--gris);
      }

      &.is-invalid {
        border-color: var(--red);
      }
    }
  }

  .modal-footer {
    border-top: 1px solid var(--table-border);
  }
}
