.auto-complete-modify {
  width: 180px !important;

  .select__control {
    background-color: var(--background-body-inverse);
    border-color: var(--table-border);

    .select__value-container {
      padding: 0px 8px !important;

      .select__single-value {
        color: var(--text-color) !important;
      }

      .select__input-container {
        color: var(--text-color) !important;
      }
    }

    .select__indicators {
      .select__indicator-separator {
        display: none !important;
      }

      .select__indicator {
        padding: 0px 8px !important;
        color: var(--text-color);
      }
    }

    &:hover {
      border-color: var(--table-border);
    }
  }

  .select__menu div {
    background-color: var(--background-body-inverse) !important;
    color: var(--text-color) !important;

    div {
      padding: 0px 10px !important;
      height: 25px !important;

      &:hover {
        background-color: var(--blue) !important;
        color: var(--white) !important;
      }
    }
  }
}

// .css-13cymwt-control,
// .css-t3ipsp-control {
//   min-height: 36px !important;
// }
