.modal-new-agence div div {
  background-color: var(--background-inverse);

  .modal-header {
    border-bottom: 1px solid var(--table-border);
    color: var(--text-color);
  }

  .form-agence {
    .modal-body {
      .row div {
        .input-group {
          span {
            background-color: var(--background-body-inverse);
            color: var(--blue);
            border-color: var(--table-border);
          }

          input {
            background-color: var(--background-body-inverse) !important;
            border-color: var(--table-border) !important;
            color: var(--text-color) !important;

            &:focus {
              border-color: var(--blue) !important;
            }

            &::placeholder {
              color: var(--gris) !important;
            }

            &.is-invalid {
              border-color: var(--red) !important;
            }
          }
        }
      }
    }

    .modal-footer {
      border-top: 1px solid var(--table-border);
    }
  }
}

.form-article .modal-body .row div .d-flex .auto-complete {
  .css-13cymwt-control,
  .css-t3ipsp-control {
    min-height: 35px !important;
  }
}
